<!DOCTYPE html>
<html lang="en">
<head>
    @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlarmApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlarmApp.Web.styles.css" asp-append-version="true" /> *@

    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>WiserSense Case Study</title>

    <link rel="manifest" href="~/assets/favicon/manifest.json">


    <link rel="stylesheet" href="~/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/css/vendors/simplebar.css">

    <link href="~/css/style.css" rel="stylesheet">

    <link href="~/css/examples.css" rel="stylesheet">
</head>
<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    @RenderBody()
                    
                </div>
            </div>
        </div>
    </div>

   


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/@@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->


    <script src="~/vendors/@@coreui/utils/js/coreui-utils.js"></script>
    <script src="js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
